.chat
  .chat-group
    .chat-group__name
      .chat-group__name--group-name
        = @group.name
      .chat-group__name--member
        Menber:
        - @users.each do |user|
          = user.name
    .chat-group__EditBtn
      = link_to "Edit", edit_group_path(@group), class: "edit-btn"

  .chat-MessageContents
    = render @messages

  .chat-MessageArea
    .chat-MessageArea__form
      = form_for [@group, @message] do |f|
        .chat-MessageArea__form--TextArea
          = f.text_field :content, class: 'form__message', placeholder: "type a message"
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'hide'
        .chat-MessageArea__form--SendBtn
          = f.submit "Send", class: "send-btn" 